### BELLEVUE UNIVERSITY
### DSC-540 Data Preparation
### Name: Tai Ngo
### Date: 5/26/2020

### Week 11 & 12 Exercises

#### Connect to the supplied petsDB
#### Write a function to check if the connection is done

In [2]:
# import library
import sqlite3

In [3]:
conn = sqlite3.connect('petsdb')

In [4]:
# write a function to check if the connection is working
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print('Connection failed {}'.format(e))
        return False

In [5]:
print(is_opened(conn))

True

In [6]:
conn.close()

In [7]:
print(is_opened(conn))

Connection failed Cannot operate on a closed database.
False

#### Show different age groups in the persons database

In [8]:
conn = sqlite3.connect('petsdb')

In [9]:
c = conn.cursor()

In [10]:
for ppl, age in c.execute('SELECT count(*), age FROM persons GROUP BY age'):
    print('We have {} people age {}'.format(ppl, age))

We have 2 people age 5
We have 1 people age 6
We have 1 people age 7
We have 3 people age 8
We have 1 people age 9
We have 2 people age 11
We have 3 people age 12
We have 1 people age 13
We have 4 people age 14
We have 2 people age 16
We have 2 people age 17
We have 3 people age 18
We have 1 people age 19
We have 3 people age 22
We have 2 people age 23
We have 3 people age 24
We have 2 people age 25
We have 1 people age 27
We have 1 people age 30
We have 3 people age 31
We have 1 people age 32
We have 1 people age 33
We have 2 people age 34
We have 3 people age 35
We have 3 people age 36
We have 1 people age 37
We have 2 people age 39
We have 1 people age 40
We have 1 people age 42
We have 2 people age 44
We have 2 people age 48
We have 1 people age 49
We have 1 people age 50
We have 2 people age 51
We have 2 people age 52
We have 2 people age 53
We have 2 people age 54
We have 1 people age 58
We have 1 people age 59
We have 1 people age 60
We have 1 people age 61
We have 2 people age 62
We have 1 people age 63
We have 2 people age 65
We have 2 people age 66
We have 1 people age 67
We have 3 people age 68
We have 1 people age 69
We have 1 people age 70
We have 4 people age 71
We have 1 people age 72
We have 5 people age 73
We have 3 people age 74

#### Show the age group that has the maximum number of people

In [11]:
for ppl, age in c.execute('SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC'):
    print('Highest number of people {} came from {} age group'.format(ppl, age))
    break

Highest number of people 5 came from 73 age group

#### Show the number of people who do not have full name in the database

In [13]:
res = c.execute('SELECT count(*) FROM persons WHERE last_name IS null')
for row in res:
    print(row)

(60,)

#### Show the number of people who have more than one pet

In [16]:
res = c.execute('SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) > 1)')
for row in res:
    print('There are {} people that have more than one pet.'.format(row[0]))

There are 43 people that have more than one pet.

#### Show the number of pets that have received treatments

In [17]:
res = c.execute('SELECT count(*) FROM pets WHERE treatment_done=1')
for row in res:
    print(row)

(36,)

#### Show the number of pets that have received treatments and we know the type of

In [19]:
res = c.execute('SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null')
for row in res:
    print(row)

(16,)

#### The number of pets from the city called "east port"

In [22]:
res = c.execute('SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city = "east port"')
for row in res:
    print(row)

(49,)

#### The number of pets from the city called "east port" that received a treatment

In [25]:
res = c.execute('SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city = "east port" AND pets.treatment_done = 1')
for row in res:
    print(row)

(11,)